* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    background-color: lightgray;
    font-family: monospace;
    font-size: 1.6rem;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

:focus {
    outline: none;
}

.line {
    word-wrap: break-word;
    padding: 0 3px;
}

.input-area {
    position: relative;
}

.input-cover {
    position: relative;
    padding: 0 3px;
    word-wrap: break-word;
}

.caret {
    content: "";
    display: none;
    width: 1.5px;
    height: 100%;
    background-color: black;
    animation: blink 1s infinite;
    position: absolute;
}

.caret.is-focused {
    display: inline-block;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#hidden-input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
